{% extends "basic.html" %}
{% block title %} {{ gettext("Appointment") }} {% endblock %}

{% block head %}
    {{ super() }}
{% endblock %}

{% block main %}
<div class="container marketing py-3" style="height: 70vh">

  <h1>{{ gettext("Appointment") }}</h1>

  <div class="row row-cols-1 row-cols-md-3 mb-2 text-center">

    <div class="col-lg-6">
      <div id="appointment-days" class="card shadow-sm">
        {% include 'appointment-days.html' with context %}
      </div>
    </div>

    <div class="col-lg-6">
      <div id="appointment-hours" class="card shadow-sm">
        {% include 'appointment-slots.html' with context %}
      </div>
    </div>

  </div>

  <div class="p-4 p-md-5 text-white rounded bg-dark">
    <h3> {{ gettext("Appointment-Warning") }} </h3>
  </div>

</div>

{% endblock %}
