{% extends "basic.html" %}
{% block title %} {{ gettext("Jobs") }} {% endblock %}

{% block head %}
    {{ super() }}
{% endblock %}

{% block main %}

<div class="container job-container">

    {% for job_offer in job_list %}
      <div class="bg-light m-1 pt-3 pt-md-5 px-3 text-center overflow-hidden job-offer">
        <div class="my-3 py-3">
          <p class="lead"> {{ gettext("reinforcement") }} </p>
          <h2 class="display-6">
            {{ job_offer.titel }}
          </h2>
          <p class="lead" style="text-align: left;">
            {{ gettext("jobintro") }}
          </p>

          <p class="lead" style="text-align: left;"> {{ gettext("We have:") }} </p>
          <ul style="text-align: left;">
            {% for item in job_offer.offer %}
              <li>{{ item }}</li>
            {% endfor %}
          </ul>
          <p class="lead" style="text-align: left;"> {{ gettext("You have:") }} </p>
          <ul style="text-align: left;">
            {% for item in job_offer.profile %}
              <li>{{ item }}</li>
            {% endfor %}
          </ul>

          <p class="lead" style="text-align: left;">
            {{ gettext("joboutro") }}
          </p>
        </div>
      </div>
    {% endfor %}

</div>

{% endblock %}
