{% extends "basic.html" %}
{% block title %} {{ gettext("Jobs") }} {% endblock %}

{% block head %}
    {{ super() }}
{% endblock %}

{% block main %}

<div class="container marketing mt-4">

  {% for val in range((job_list|length / 2)|round(method="ceil")|int) %}
    <div class="d-md-flex flex-md-equal w-100 my-md-3 ps-md-3">

      {% for val2 in range(val * 2, (val + 1) * 2) %}
        {% if val2 < job_list|length %}
          <div class="bg-light me-md-3 pt-3 px-3 pt-md-5 px-md-5 text-center overflow-hidden w-50">
            <div class="my-3 py-3">
              <p class="lead"> {{ gettext("reinforcement") }} </p>
              <h2 class="display-6">
                {{ job_list[val2].titel }}
              </h2>
              <p class="lead" style="text-align: left;">
                {{ gettext("jobintro") }}
              </p>

              <p class="lead" style="text-align: left;"> {{ gettext("We have:") }} </p>
              <ul style="text-align: left;">
                {% for item in job_list[val2].offer %}
                  <li>{{ item }}</li>
                {% endfor %}
              </ul>
              <p class="lead" style="text-align: left;"> {{ gettext("You have:") }} </p>
              <ul style="text-align: left;">
                {% for item in job_list[val2].profile %}
                  <li>{{ item }}</li>
                {% endfor %}
              </ul>

              <p class="lead" style="text-align: left;">
                {{ gettext("joboutro") }}
              </p>
            </div>
          </div>
        {% endif %}
      {% endfor %}

    </div>
  {% endfor %}

</div>

{% endblock %}
