
:root {
    --bg-color-1: #212529;
    --bg-color-2: lightgray;
    --bg-color-trans: rgba(255, 255, 255, 0.85);
    --font-color-1: #fff;
    --font-color-2: #212529;
    --success-color: #198754;
    --failure-color: #dc3545;
    --primary-color: #212529;
    --secondary-color: #6c757d;
}


/*
:root {
    --bg-color-1: #f1f1f1;
    --bg-color-2: #212529;
    --bg-color-trans: rgba(33, 37, 41, 0.85);
    --font-color-1: #212529;
    --font-color-2: #ffffff;
    --success-color: #198754;
    --failure-color: #dc3545;
    --primary-color: #212529;
    --secondary-color: #6c757d;
}
*/

/**************************************************************************************************
 * All
 */
.p-bg {
    background-color: var(--bg-color-1);
}

.trans-bg {
    background-color: var(--bg-color-trans);
}

.p-text {
    color: var(--font-color-1);
}

.s-text {
    color: var(--font-color-2);
}

/**************************************************************************************************
 * Header
 */
.header {
    width: 100%;
    height: 15vh;
    margin: 0;
}

.header .col-4 {
    padding: 2vh;
}

.header h1 {
    margin-bottom: 1vh;
    height: min(7vh, 4vw);
    line-height: min(7vh, 4vw);
    font-size: min(6.6vh, 3.6vw);
}

.header p {
    margin: 0;
    height: min(3vh, 3vw);
    line-height: min(3vh, 3vw);
    font-size: min(2.6vh, 2.6vw);
}

hr.line-lr, hr.line-rl {
    height: 3px;
    opacity: 1;
    margin: 1.5vh;
}
.line-lr {
    background: linear-gradient(45deg, var(--bg-color-2), transparent);
}
.line-rl {
    background: linear-gradient(225deg, var(--bg-color-2), transparent);
}

.linediv {
    display: flex;
    flex-direction: column;
    justify-content: center;
}

/**************************************************************************************************
 * Footer
 */
.footer {
    width: 100%;
    height: 10vh;
    margin: 0;
}
.footer.fixed {
    position: fixed;
    bottom: 0;
}

.row.footer {
    margin-right: 0;
    margin-left: 0;
}

.footer .col-4 {
    padding: 2vh;
}

.footer div {
    padding: 1em;
    display: flex;
    flex-direction: column;
    justify-content: center;
}
.footer .text {
    margin: 0;
    height: 2vh;
    line-height: 2vh;
    font-size: 1.6vh;
    vertical-align:middle;
}

/**************************************************************************************************
 * Navbar
 */
nav #lang-container {
    float: right;
    color: rgba(0,0,0,0.9);
}
nav #lang-container:hover {
    font-weight: bold;
}

nav #lang-container .nav-link {
    color: rgba(0,0,0,0.9);
}

.navbar .navbar-brand {
    padding: 1vh;
    font-size: 1vh;
}

.navbar .nav-link {
    padding: 1vh;
    height: 5vh;
    line-height: 3vh;
    font-size: 1.9vh;
}

.navbar button, .navbar input{
    padding: 0.5vh;
    height: 4vh;
    line-height: 3vh;
    font-size: 1.9vh;
}

.navbar button {
    margin-right: 1rem;
}

/**************************************************************************************************
 * Frontpage
 */
.carousel-item img {
    height: 70vh;
    object-fit: cover;
}

.carousel-inner .row {
    margin-right: 0;
    margin-left: 0;
}

IMG.displayed {
    margin-left: auto;
    margin-right: auto
}

/**************************************************************************************************
 * Appointmentbuttons
 */
.btn-border-only {
    color: var(--font-color-1);
    background-color: var(--bg-color-1);
    border-color: var(--bg-color-1);
    border-width: 2px;
    border-style: outset;
}
.btn-border-only:hover, .btn-border-only:focus, .btn-border-only:active, .btn-border-only.active, .open>.dropdown-toggle.btn-border-only {
    color: var(--font-color-1);
    border-color: var(--font-color-1);
}
.btn-border-only-today {
    color: var(--font-color);
    background-color: var(--secondary-color);
    border-color: var(--secondary-color);
    border-width: 2px;
    border-style: outset;
}

.time-taken {
    background-color: var(--failure-color);
}
.time-free {
    background-color: var(--success-color);
}
.selected-day {
    background-color: var(--bg-color-2);
    color: var(--font-color-2)!important;
}

.date-prev,
.date-next {
    height: 100%;
    border-width:0px;
    background-color:transparent;
    filter: invert(100%);
}
