{% set slots = (day_slots|length / 2)|round(method="ceil")|int %}
{% set time = 0 %}
{% set state = 1 %}

{% set day_name = "Sa" %}
{% set month = 2 %}
{% set month_name = "Februar" %}
{% set year = "2021" %}

<div class="card-header text-center">
  <h4 class="my-0 fw-normal"> {{ day_name }}, {{ selected_day }} {{ month_name }} {{ year }} </h4>
</div>

<div class="card-body bg-dark">
  {% for val in range(slots) %}
    <div class="row">
      <div class="col" style="padding: 0">
        <p class="btn-lg bg-dark text-white w-100" style="margin: 0px; border: 1px solid transparent;">
          {{ day_slots[loop.index0][time] }}
        </p>

      </div>
      <div class="col p-0">
        {% if day_slots[loop.index0][state] == "Taken" %}
        <button type="button" class="btn btn-lg w-100 btn-border-only timeslot time-taken">
          {{ day_slots[loop.index0][state] }}
        </button>
        {% else %}
        <button type="button" class="btn btn-lg w-100 btn-border-only timeslot time-free" data-slot="{{ loop.index0 }}">
          {{ day_slots[loop.index0][state] }}
        </button>
        {% endif %}
      </div>
      <div class="col" style="padding: 0">
        {% if (val + 1) * 2 <= day_slots|length %}
        <p class="btn-lg bg-dark text-white w-100" style="margin: 0px; border: 1px solid transparent;">
          {{ day_slots[loop.index0 + slots][time] }}
        </p>
        {% endif %}
      </div>
      <div class="col" style="padding: 0">
        {% if (val + 1) * 2 <= day_slots|length %}
          {% if day_slots[loop.index0 + slots][state] == "Taken" %}
          <button type="button" class="btn btn-lg w-100 btn-border-only timeslot time-taken">
            {{ day_slots[loop.index0 + slots][state] }}
          </button>
          {% else %}
          <button type="button" class="btn btn-lg w-100 btn-border-only timeslot time-free" data-slot="{{ loop.index0 + slots }}">
            {{ day_slots[loop.index0 + slots][state] }}
          </button>
          {% endif %}
        {% endif %}
      </div>
    </div>
  {% endfor %}
</div>
