{% set slots = (day_slots|length / 2)|round(method="ceil")|int %}
{% set time = 0 %}
{% set state = 1 %}

<div class="card-header text-center">
  <div class="row">
    <div class="col-lg-4">
      <button class="carousel-control-prev-icon m-0 date-prev"
        data-year="{{ s_date.year }}"
        data-month="{{ s_date.month_idx }}"
        data-day="{{ s_date.day_idx - 1 }}">
      </button>
    </div>
    <div class="col-lg-4">
      <h4 class="my-0 fw-normal"> {{ s_date.complete }} </h4>
    </div>
    <div class="col-lg-4">
      <button class="carousel-control-next-icon m-0 date-next"
        data-year="{{ s_date.year }}"
        data-month="{{ s_date.month_idx }}"
        data-day="{{ s_date.day_idx + 1 }}">
      </button>
    </div>
  </div>
</div>

<div class="card-body p-bg p-text">
  {% for val in range(slots) %}
    <div class="row">

      <div class="col" style="padding: 0">
        <p class="btn-lg w-100" style="margin: 0px; border: 1px solid transparent;">
          {{ day_slots[loop.index0][time] }}
        </p>
      </div>

      <div class="col p-0">
        {% if day_slots[loop.index0][state] == gettext("taken") %}
        <button disabled type="button" class="btn btn-lg w-100 btn-border-only timeslot time-taken">
          {{ day_slots[loop.index0][state] }}
        </button>
        {% else %}
        <!-- <button type="button" class="btn btn-lg w-100 btn-border-only timeslot time-free" data-slot="{{ loop.index0 }}"> -->
        <button type="button" class="btn btn-lg w-100 btn-border-only timeslot time-free"
          data-bs-toggle="modal"
          data-bs-target="#appointmentModal"
          data-slot="{{ loop.index0 }}"
          data-complete="{{ s_date.complete }}, {{ day_slots[loop.index0][time] }}">
          {{ day_slots[loop.index0][state] }}
        </button>
        {% endif %}
      </div>

      <div class="col" style="padding: 0">
        {% if (val + 1) * 2 <= day_slots|length %}
        <p class="btn-lg w-100" style="margin: 0px; border: 1px solid transparent;">
          {{ day_slots[loop.index0 + slots][time] }}
        </p>
        {% endif %}
      </div>

      <div class="col" style="padding: 0">
        {% if (val + 1) * 2 <= day_slots|length %}
          {% if day_slots[loop.index0 + slots][state] == gettext("taken") %}
          <button disabled type="button" class="btn btn-lg w-100 btn-border-only timeslot time-taken">
            {{ day_slots[loop.index0 + slots][state] }}
          </button>
          {% else %}
          <!-- <button type="button" class="btn btn-lg w-100 btn-border-only timeslot time-free" data-slot="{{ loop.index0 + slots }}"> -->
          <button type="button" class="btn btn-lg w-100 btn-border-only timeslot time-free"
            data-bs-toggle="modal"
            data-bs-target="#appointmentModal"
            data-slot="{{ loop.index0 + slots }}"
            data-complete="{{ s_date.complete }}, {{ day_slots[loop.index0 + slots][time] }}">
            {{ day_slots[loop.index0 + slots][state] }}
          </button>
          {% endif %}
        {% endif %}
      </div>

    </div>
  {% endfor %}
</div>
