{% extends "basic.html" %}
{% block title %}Praxis Rundgang{% endblock %}

{% block head %}
    {{ super() }}
{% endblock %}

{% block main %}

<div class="album py-5 bg-light">
    <div class="container">

      <div class="row row-cols-1 row-cols-sm-2 row-cols-md-3 g-3">
        <div class="col">
          <div class="card shadow-sm">
            <!-- https://www.pexels.com/de-de/foto/ekg-maschine-liest-134-263194/ -->
            <img src="{{ static_url_for('static', filename='img/services/ekg.jpg') }}"
                class="displayed d-block rounded w-100" alt="TODO" style="height: 40vh; object-fit: cover">

            <div class="card-body">
              <p class="card-text">EKG, Langzeit-EKG und Belastungs-EKG</p>
              <div class="d-flex justify-content-between align-items-center">
                <div class="btn-group">
                  <button type="button" class="btn btn-sm btn-outline-secondary">View</button>
                  <button type="button" class="btn btn-sm btn-outline-secondary">Edit</button>
                </div>
                <small class="text-muted">9 mins</small>
              </div>
            </div>
          </div>
        </div>

        <div class="col">
          <div class="card shadow-sm">
            <!-- https://www.pexels.com/de-de/foto/mann-frau-arzt-gesundheit-4226258/ -->
            <img src="{{ static_url_for('static', filename='img/services/ultrasound.jpg') }}"
                class="displayed d-block rounded w-100" alt="TODO" style="height: 40vh; object-fit: cover">

            <div class="card-body">
              <p class="card-text">Ultraschalluntersuchungen für Kinder und Erwachsene, der Gelenke und der Schilddrüse</p>
              <div class="d-flex justify-content-between align-items-center">
                <div class="btn-group">
                  <button type="button" class="btn btn-sm btn-outline-secondary">View</button>
                  <button type="button" class="btn btn-sm btn-outline-secondary">Edit</button>
                </div>
                <small class="text-muted">9 mins</small>
              </div>
            </div>
          </div>
        </div>

        <div class="col">
            <div class="card shadow-sm">
              <!-- https://www.pexels.com/de-de/foto/frau-im-grauen-langarmhemd-das-weisses-und-schwarzes-stethoskop-tragt-5327584/ -->
              <img src="{{ static_url_for('static', filename='img/services/pulmonary-functions.jpg') }}"
                  class="displayed d-block rounded w-100" alt="TODO" style="height: 40vh; object-fit: cover">

              <div class="card-body">
                <p class="card-text">Lungenfunktionstest</p>
                <div class="d-flex justify-content-between align-items-center">
                  <div class="btn-group">
                    <button type="button" class="btn btn-sm btn-outline-secondary">View</button>
                    <button type="button" class="btn btn-sm btn-outline-secondary">Edit</button>
                  </div>
                  <small class="text-muted">9 mins</small>
                </div>
              </div>
            </div>
          </div>

          <div class="col">
            <div class="card shadow-sm">
              <!-- https://www.pexels.com/photo/brown-glass-bottle-with-liquid-and-pipette-4021773/ -->
              <img src="{{ static_url_for('static', filename='img/services/lab-tests.jpg') }}"
                  class="displayed d-block rounded w-100" alt="TODO" style="height: 40vh; object-fit: cover">

              <div class="card-body">
                <p class="card-text">Laboruntersuchungen</p>
                <div class="d-flex justify-content-between align-items-center">
                  <div class="btn-group">
                    <button type="button" class="btn btn-sm btn-outline-secondary">View</button>
                    <button type="button" class="btn btn-sm btn-outline-secondary">Edit</button>
                  </div>
                  <small class="text-muted">9 mins</small>
                </div>
              </div>
            </div>
          </div>

          <div class="col">
            <div class="card shadow-sm">
              <!-- https://www.pexels.com/de-de/foto/foto-des-skeletts-2678059/ -->
              <img src="{{ static_url_for('static', filename='img/services/bone-density-measurement.jpg') }}"
                  class="displayed d-block rounded w-100" alt="TODO" style="height: 40vh; object-fit: cover">

              <div class="card-body">
                <p class="card-text">Knochendichtemessung</p>
                <div class="d-flex justify-content-between align-items-center">
                  <div class="btn-group">
                    <button type="button" class="btn btn-sm btn-outline-secondary">View</button>
                    <button type="button" class="btn btn-sm btn-outline-secondary">Edit</button>
                  </div>
                  <small class="text-muted">9 mins</small>
                </div>
              </div>
            </div>
          </div>

       </div>
    </div>
</div>

{% endblock %}
