<div class="row footer" style="height: 10vh">
    <div class="col-lg-4 mx-auto text-center text-white bg-dark">
        <p class="text">Musterdorf 99999</p>
        <p class="text">Musterstraße 99</p>
    </div>

    <div class="col-lg-4 text-center text-white bg-dark">
        <p class="text">Telefonnummer: 09999 99 999</p>
        <p class="text">Fax 09999 99 999 1</p>
    </div>

    <div class="col-lg-4 text-center text-white bg-dark">
        <a class="text" href="mailto:DrDoktorArzt@drdoctorarzt.arzt">Email: DrDoktorArzt@drdoctorarzt.arzt</a>
    </div>
</div>
