<div class="row footer p-text p-bg">
    <div class="col-4">
        <p class="text">Adresse:</p>
        <p class="text">Musterdorf 99999</p>
        <p class="text">Musterstraße 99</p>
    </div>

    <div class="col-4">
        <p class="text">Telefonnummer: 09999 99 999</p>
        <p class="text">Fax: 09999 99 999 1</p>
        <a class="text" href="mailto:DrDoktorArzt@drdoctorarzt.arzt">Email: DrDoktorArzt@drdoctorarzt.arzt</a>
    </div>

    <div class="col-4">
        <p class="text">Öffnunszeiten:</p>
        <p class="text">Mo, Di, Do, Fr: 9:00-13:00, 15:00-18:00</p>
        <p class="text">Mi: 9:00-13:00</p>
    </div>
</div>
