<div class="row banner" style="height: 15vh; margin: 0;">
    <div class="linediv col-lg-4 bg-dark">
        <hr class="mt-3 mb-3 line-rl"/>
        <hr class="mt-3 mb-3 line-rl"/>
        <hr class="mt-3 mb-3 line-rl"/>
    </div>

    <div class="col-lg-4 pricing-header px-3 py-3 mx-auto text-center text-white bg-dark">
        <h1 class="display-4">Dr. Doktor Arzt</h1>
        <p>Mehr Arzt geht nicht.</p>
    </div>

    <div class="linediv col-lg-4 bg-dark">
        <hr class="mt-3 mb-3 line-lr"/>
        <hr class="mt-3 mb-3 line-lr"/>
        <hr class="mt-3 mb-3 line-lr"/>
    </div>
</div>
