<nav class="navbar navbar-expand-lg navbar-light bg-light" style="height: 5vh">
  <div class="container-fluid">
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav me-auto mb-2 mb-lg-0">
        <a class="navbar-brand" href="/">
          <img src="{{ static_url_for('static', filename='img/logo.svg') }}" alt="TODO" width="30" height="24">
        </a>

        <li class="nav-item">
          <!-- TODO change apparence depending on active-->
          <a class="nav-link active" aria-current="page" href="/">{{ gettext("Mainpage") }}</a>
        </li>

        <li class="nav-item dropdown">
          <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-bs-toggle="dropdown" aria-expanded="false">
            {{ gettext("Services") }}
          </a>
          <ul class="dropdown-menu" aria-labelledby="navbarDropdown">
            <li><a class="dropdown-item" href="chirotherapy">{{ gettext("Chirotherapie") }}</a></li>
            <li><a class="dropdown-item" href="checkups">{{ gettext("Check-up") }}</a></li>
            <li><a class="dropdown-item" href="diagnostic">{{ gettext("Diagnostics") }}</a></li>
            <li><a class="dropdown-item" href="misc">{{ gettext("Misc") }}</a></li>
            <li><a class="dropdown-item" href="services">{{ gettext("More") }}</a></li>
          </ul>
        </li>

        <li class="nav-item dropdown">
          <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-bs-toggle="dropdown" aria-expanded="false">
            {{ gettext("Who we are") }}
          </a>
          <ul class="dropdown-menu" aria-labelledby="navbarDropdown">
            <li><a class="dropdown-item" href="team">{{ gettext("Our Team") }}</a></li>
            <li><a class="dropdown-item" href="location">{{ gettext("The Facility") }}</a></li>
          </ul>
        </li>

        <li class="nav-item dropdown">
          <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-bs-toggle="dropdown" aria-expanded="false">
            {{ gettext("Contact") }}
          </a>
          <ul class="dropdown-menu" aria-labelledby="navbarDropdown">
            <li><a class="dropdown-item" href="Arrival">{{ gettext("Arrival") }}</a></li>
            <li><a class="dropdown-item" href="Appointment">{{ gettext("Appointment") }}</a></li>
          </ul>
        </li>

        <li class="nav-item">
          <a class="nav-link" aria-current="page" href="jobs">{{ gettext("Jobs") }}</a>
        </li>

      </ul>

      <div id="lang-container" class="nav-item dropdown">
        <a class="nav-link dropdown-toggle" href="#" id="navLangDrop" role="button" data-bs-toggle="dropdown" aria-expanded="false">
          <span class="flag-icon flag-icon-de"> </span> {{ gettext("Language") }}
        </a>
        <ul class="dropdown-menu" aria-labelledby="navLangDrop">
            <li><a class="dropdown-item" href="de"><span class="flag-icon flag-icon-de"> </span>  Deutsch</a></li>
            <li><a class="dropdown-item" href="gb"><span class="flag-icon flag-icon-gb"> </span>  English</a></li>
            <li><a class="dropdown-item" href="fr"><span class="flag-icon flag-icon-fr"> </span>  French</a></li>
            <li><a class="dropdown-item" href="it"><span class="flag-icon flag-icon-it"> </span>  Italian</a></li>
            <li><a class="dropdown-item" href="ru"><span class="flag-icon flag-icon-ru"> </span>  Russian</a></li>
        </ul>
      </div>

      <form class="d-flex">
        <input class="form-control me-2" type="search" placeholder="Search" aria-label="Search">
        <button class="btn btn-outline-success" type="submit">{{ gettext("Search") }}</button>
      </form>
    </div>
  </div>
</nav>
